*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    position: relative;
    background-color: #35383e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px 40px 30px 40px;
}

h1{
    color: rgb(176, 163, 255);
    text-align: center;
    font-family: Michroma;
    font-size: 50px;
    margin-top: 80px;
}

#btn-logout {
    position: absolute;
    left: 100px;
    background-color: rgb(255, 255, 255); 
    color: rgb(68, 0, 178);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: inset -2px -2px 1px 1px rgba(27, 1, 123, 0.479);;
}

#btn-agregar {
    margin-top: 110px;
    background-color: rgb(255, 255, 255); 
    color: rgb(30, 30, 30);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 23px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 15px 1px rgb(176, 163, 255), inset -2px -2px 1px 1px rgba(30, 30, 30, 0.346);
    transition: all 0.3s ease;
    display: inline-flex;     
    align-items: center;        
    gap: 12px;     
}

#btn-agregar:hover {
    background-color: rgb(175, 163, 255); 
    transform: translateY(-2px);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

#btn-agregar:active {
    transform: translateY(0);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}


#inputBox{
    display:none;
    margin-top: 40px; 
    gap: 8px;
    flex-direction: row;
    align-items: center;
}

#inputBox input {
    padding: 8px 12px;
    border: 5px solid rgb(175, 163, 255); /* define color y grosor */
    border-radius: 6px;
    outline: none; 
    width: 250px;
    height: 40px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}

#inputBox button {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    background-color: rgb(175, 163, 255);
    color: rgb(7, 6, 6);
    font-weight: bold;
    cursor: pointer;
}


.lista_tareas {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tarea {
    background-color: rgba(44, 44, 44, 0.7);
    color: rgb(208, 201, 255);
    padding: 12px 16px;
    border: 2px solid rgb(175, 163, 255);
    border-radius: 8px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-width: 350px;
    max-width: 650px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.663);
    white-space: normal;      
    overflow-wrap: break-word; 
    word-break: break-word;    
}

.tarea span{
    flex: 1; 
    word-break: break-word; 
}

.tarea button.eliminar {
    background: none;
    border: none;
    color: rgb(175, 163, 255);
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 19px;
    flex-shrink: 0;
}

@media screen and (max-width: 775px) {
    .tarea{
        max-width: 400px;
    };
    
}

@media screen and (max-width: 575px){

    #btn-logout{
        left: auto;
    }

    #inputBox{
        flex-direction: column;
    }

    #btn-agregar{
        font-size: 18px;
        padding: 8px 15px;
    }

    .tarea{
        min-width: 200px;
        max-width: 300px;
    }

    #inputBox button{
        margin-top: 5px;
        width: 120px;
        padding: 6px 10px;
        gap: 10px;
    }

    
}

@media screen and (max-width: 420px) {
    .tarea{
        max-width: 150px;
    }
    
    h1{
        font-size: 40px;
    }
}