*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2{
    color: rgb(176, 163, 255);
    text-align: center;
    font-family: Michroma;
    font-size: 30px;
}

.linea{
    height: 3px;
    width: 70px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

body{
    background-color: #35383e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 30px 40px 30px 40px;

}

form{
    width: 500px;
    height: 500px;
    padding: 38px 50px 40px 50px;
    border-radius: 7px;
    box-shadow: 10px 7px 30px 5px rgb(31, 31, 33), inset 0.3px 0.3px 1px 0.5px rgb(216, 216, 216);
    
}

#registerForm{
    display: none;
}

#registerMessage,#loginMessage{
    visibility: hidden;
    margin-top: 25px;
    color: rgba(255, 0, 0, 0.806);
    padding: 3px 10px;
    background-color: rgba(255, 243, 243, 0.849);
    border: 2px solid rgba(255, 0, 0, 0.806);  
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-weight: bold;
    max-width: 350px;
    border-radius: 5px;
}

#registerMessage.error,
#loginMessage.error{
    visibility: visible;
    color: rgba(255, 0, 0, 0.806);
    border: 2px solid rgba(255, 0, 0, 0.806);
    background-color: rgba(255, 243, 243, 0.849);
}

#registerMessage.success{
    visibility: visible;
    color: rgba(1, 167, 17, 0.858);
    border: 2px solid rgba(1, 167, 17, 0.858);
    background-color: rgba(245, 255, 243, 0.849);
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    padding: 0 3px 7px 0px;
    border: none;
}

input{
    font-family: 'Space Grotesk';
    width: 100%;
    height:40px;
    border-radius:8px;
    border: none;
    background-color: rgba(97, 97, 97, 0.4);
    box-shadow: 1.2px 1.2px 0px 0px rgba(37, 37, 37, 0.967), inset 2.3px 2.3px 1px 0.5px rgb(4, 3, 3);
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 19px;
    caret-color: rgb(192, 184, 246);
    font-weight: bold;
    color: white;
    
}

button{
    position: relative;
    margin-top: 35px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(176, 163, 255);
    font-family: Michroma;
    font-weight: bold;
    font-size: 17.5px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 0px 2px 5px 1px rgba(31, 30, 30, 0.886)
}

span{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}

::placeholder{
    color: white;
    font-size: 18px;
}

p {
    font-family: 'Space Grotesk';
    color: white;
    margin-top: 35px;
    font-size: 20px;
    text-align: center; 
}

a {
    font-weight: bold;
    color: rgb(176, 163, 255);
}
